:root {
    --header-height: 3em;
    --sidebar-width: 30em;
}

* > * {
    box-sizing: border-box;
}

html, body {
    height: 100%;
    margin: 0;
    padding: 0;
}

.Header {
    height: var(--header-height);
}

.DefinitionList {
    &.DefinitionList--inline {
        display: grid;
        grid-template-columns: min-content 1fr;
        column-gap: 1em;

        & dt {
            font-weight: bold;
            white-space: nowrap;
        }

        & dd {
            margin: 0;
            padding: 0;
        }
    }
}
