@import url(./utils.css);
@import url(./header.css);

:root {
    --header-height: 3rem;
    --sidebar-width: 30rem;

    --main-color: black;
    --background-main-color: white;

    --main-z-index: 10;
    --topbar-z-index: 100;
    --sidebar-z-index: 1100;
}

* > * {
    box-sizing: border-box;
}

html, body {
    height: 100%;
    margin: 0;
    padding: 0;
    font-family: sans-serif;
}

a {
    transition: filter .5s ease;

    &:hover {
        filter: invert(30%);
        transition: filter .5s ease;
    }
}
