.Homepage {
    height: calc(100% - var(--header-height));
    display: grid;
    position: relative;
    z-index: var(--main-z-index);

    .Homepage__sidebar {
        overflow-y: auto;
        padding-inline: 1em;
        border-inline-end: .5em solid var(--background-main-color);
        width: var(--sidebar-width);
    }

    .Homepage__mapContainer {
        position: absolute;
        inset: 0;
        transition: 500ms;
    }

    &.Homepage--sidebarOpen {
        .Homepage__mapContainer {
            inset-inline-start: var(--sidebar-width);
            transition: left 500ms ease;
        }
    }
}
