.Homepage {
    height: calc(100% - var(--header-height));
    display: grid;
    position: relative;

    .Homepage__sidebar {
        overflow-y: auto;
        padding-inline: 2em;
        width: var(--sidebar-width);
    }

    .Homepage__mapContainer {
        position: absolute;
        inset: 0;
        transition: 500ms;
    }

    &.Homepage--sidebarOpen {
        .Homepage__mapContainer {
            inset-inline-start: var(--sidebar-width);
            transition: 500ms;
        }
    }
}
