.sr-only {
    border: 0 !important;
    clip: rect(1px, 1px, 1px, 1px) !important;
    clip-path: inset(50%) !important;
    height: 1px !important;
    overflow: hidden !important;
    padding: 0 !important;
    position: absolute !important;
    width: 1px !important;
    white-space: nowrap !important;
}

.DefinitionList {
    &.DefinitionList--inline {
        display: grid;
        grid-template-columns: min-content 1fr;
        column-gap: 1em;

        & dt {
            font-weight: bold;
            white-space: nowrap;
        }

        & dd {
            margin: 0;
            padding: 0;
        }
    }
}
